ol li {
	list-style: decimal;
	text-transform: none;  
	font-family: Arial, Helvetica, sans-serif;  
	color: black;  
	font-size: 18px;  
	font-weight: normal;
	margin-left: 50px;
}
li {
	list-style:none;
	text-transform: none;  
	font-family: Arial, Helvetica, sans-serif;  
	color: #FFFFFF;  
	font-size: 18px;  
	font-weight: bold;
}
body {
	color: black;
	letter-spacing: 0.10em;
	text-align: justify;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 16px;  
	margin: 0;
}
h2 { 
	text-align: center; 
	text-transform: none;  
	font-family: Arial, Helvetica, sans-serif;  
	color: #FFFFFF;  
	font-size: 20px;  
	font-weight: bold;
}
h3 {
	text-align: center; 
	text-transform: none;  
	font-family: Arial, Helvetica, sans-serif;  
	color: #FFFFFF;  
	font-size: 18px;  
	font-weight: bold;
}
img {
	border:0; 
}
a {
	color: #6495ED;
	text-decoration: none;
}
a:hover {
	color: #115ADB;
	text-decoration: underline;
}
.menu_tbl {
	height:180px;
}
.index1_tbl {
	margin-top: 30px; 	
	padding: 10px; 	
}	
.index1_tbl td {
	vertical-align: middle;
	text-align: center;
	color:#666666;
	padding: 10px; 	
}
.index1_tbl center {
	padding: 10px; 	
}
.bsuir {
	text-align: center;
	font-family: Tahoma, Verdana, sans-serif;  
	color: #FFFAFA;  
	margin: 0;
	padding: 0;
	height: 24px;
	width: 100%;
	background-color: #2271b4;  
}
.headerbar 
{
	text-align: right;
	text-transform: none; 
	font-family: Verdana, Tahoma, sans-serif;  
	color: #FFFAFA;  
	font-size: 16px;  
	margin-top: 0; 	
	font: normal;  
	font-style: normal;  
	font-variant: normal;  
	font-weight: normal;    
}
.tx {
	color:#000;	
}


#labs {
	width: 800px;
}

#labs li {
	display: block;
	margin-bottom: 8px;
}

#labs h3 {
	color:blue;
}


.WordSection1 {
	padding: 50px;
}
















